body {
    overflow: hidden;
    background-color: rgb(237, 243, 245);
}

.wrapper {
    display: grid;
    /* grid-template-columns: repeat(100, 1fr); */
    grid-auto-columns: 1%;
    grid-gap: 0em;
    grid-auto-rows: 1%;
    height: 99vh;
}
.form-group {
    margin-bottom:5px;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

 float: left;

} 

body{
    max-height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background: rgb(227, 255, 234);
    font-size: 1.5vw;
}
label{
    
}
.btn{
    font-size: calc(10px  + .5vw) !important;
}
#whatIsLivelinessDiv{
    background-image: linear-gradient(to bottom, #ffffff , #dca6a6);
    /* background-image:   url("WhatIsBG.jpg");
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: auto; */
    font-weight: 600;
    font-size: calc(10px + .5vw);
    margin-top:0px;
    border-right: 2px solid gray;
    /* overflow-y: scroll; */
    /* You may add things like width, height, background-size... */
}
 
.textIndent{
    height: 85vh;
    overflow-y:scroll;
    margin-bottom: 5px;
    padding:0px  10px 10px 10px
}
.section{

    background-image: linear-gradient(to right, rgb(87, 87, 87) , rgb(123, 123, 123) 50%, rgb(230, 230, 230));
    color:white;
    text-indent:10px;
    padding-top:5px;
    padding-bottom: 10px;
    padding-right:.5vw;
    width: calc(100% + .3vw);
    font-size: calc(10px + 1vw);
    border: transparent;
    border-radius:7px;
    margin-left: -.3vw;
}
.section2{
 
}
#canvasContainer{
    background-image: linear-gradient(to right, #e20505 , #ffffff);
}
#rightSide{
    background-image: linear-gradient(to right, #e3f777 , #efefef);
}
#addButton{
    line-height: 1;
    width:3.5vw;

}
.header {
    grid-column: 1/101;
    grid-row: 1/10;
}
#whatIsLiveliness {
    grid-column: 3/25;
    grid-row: 11/101;
    
}

span > a {
    color:rgb(231, 83, 83);
    font-size: calc(12px + .2vw);
    margin:0px 20px;
    visibility: collapse;
} 

#relativeAbsolute {
    grid-column: 26/40;
    grid-row: 11/14;
}

#showHide {
    grid-column: 45/65;
    grid-row: 11/14;
}
#loadDataButton {
    visibility: hidden;
}
#loadData {
    grid-column: 60/65;
    grid-row: 90/95;
    z-index: 99;
    width:  3vw;
    
}
.lively {
    font-weight: bold;
    color: red;
}
#addButton {
    /* background-color: rgb(237, 243, 245); rgb(237, 243, 245);*/
    grid-column: 26/31;
     grid-row: 77/103;
    z-index: 99; 
    /*background-image: linear-gradient(to bottom, rgb(237, 243, 245) ,   rgb(219, 225, 255)); */
    width:  3vw;
    display: flex;
    margin-top: 5px;
}
#imgAdd{
    margin-right: 5px;
    margin-left: 2px;
}
 #innerGrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: .6em;
    grid-auto-rows: 1fr;
    /* grid-gap:.5em; */
} 

#dataTable {
    grid-column: 26/97;
    grid-row: 77/101;
    border:1px solid gray;
    border-bottom: 0px solid transparent;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}
#instructions {
    grid-column: 57/100;
    grid-row: 11/15;
    z-index: 999;

}
 
#instructionsContentContainer{
    grid-column: 57/100;
    grid-row: 15/72;
    height: calc(0px + 60vh); 
    overflow-y: scroll;
    border-left: 2px solid gray;
}
#instructionsContent {
    /* grid-column: 57/97;
    grid-row: 15/76; */
    background: linear-gradient(to bottom, #ffffff , #dca6a6);
    padding: 20px 10px 10px 0px;
}
.addNewYarnModalBody {
    background: linear-gradient(to right, #ffffff ,#eeeeee 43%, #c1d4f6);
}
.addNewYarnModalDialog {
    max-width: unset !important;
    width:40% !important;
    margin: 30px auto;
}
input[type='number'],input[type='text'], #yarnNotes {
    color: blue;
}
#myCanvas{
    background-color: rgb(198, 202, 190);
    outline: 2px solid slateblue;
}
.canvasText{
    font-size: 12px;
}
#canvasDiv {
    grid-column: 26/46;
    grid-row: 14/76;
}
div.rotateYAxis {
    width:20%;
    height: 20%;
    position: absolute;
    background-color: yellow;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari 3-8 */
    transform: rotate(270deg);
}
.radio-inline{
    margin-right:10px;
}
.rel{
position: relative;
}
#headerBackground {
    /*background: linear-gradient(to left, rgba(245,245,245,1), rgb(123, 123, 123) 10%, rgb(123, 123, 123) 90%, rgba(245,245,245,1));*/
    background:url(yarn3.png) ;
    height: 100%;
    width: 100%;
    /* background-clip: border-box; */
    /* max-width:100%;
    max-height:100%; */
    /* font-size: 4vw; */
}
#clipped-title1 {
	/*background: url(yarn2.jpg) no-repeat center center;*/
	background-size: cover;
    color: black;
    /* padding: 10px 0px; */
	-webkit-text-fill-color: white;
    -webkit-background-clip: text;
    /* font-size: 3vw; */
}
.image-left{
    margin:20px 30px 30px 0px;
}
.image-right {
    margin:20px 20px  0px 20px;
}
#clipped-title1 h1 {
	font-size: calc(16px + 2vw);
	font-family: 'Exo', sans-serif;
    text-align: center;
    font-weight: 200;
    font-style:italic;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0px;
    padding: 0;
    line-height: 10vh;
}
h1 {
    -webkit-text-stroke: 1px rgb(0, 0, 0);

    /*font-weight: 900;*/
  }
  #xxx,#yyy{
      font-size: 40px;
    font-family: "Exo script=all rev=1", "Adobe Blank";
    font-weight: 900;
    font-style: italic; 
  }
#inputForm {
    
}
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .toggleLabel{
  display:inline-block;
  vertical-align:text-top;
  color:gray;
  
  font-size: calc(10px + .15vw);
  }
  .toggleLabel.on{
  color:rgb(88, 206, 116);
  font-weight: bold;
  }
   
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  [data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
    content:'';
    /* border: 1px solid black; */
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	 
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px 25px 5px;
	background:#8fb2cc;
	color:rgb(0, 0, 0);
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
#wrapper2 {
    position:relative;
    width:300px;
    height:150px;
}
 
#tip {
    background-color:rgb(235, 216, 109);
    border:1px solid rgb(0, 0, 0);
    border-radius: 5px;
    position:absolute;
    left:-200px;
    top:100px;
    z-index: 999999;
}
figure {
    display: inline-block;
    /* border: 1px dotted gray; */
    margin: 5px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
li img {
    border: 3px solid #80808096;
    border-radius: 2px;
}

figure figcaption {
    /* border: 1px dotted blue; */
    text-align: center;
    font-style: italic;
    margin-top: -10px;
    margin-left: -15vw;
    font-weight: 600;
    color: #066fcc;
}